<div class="form">
  
  <header class="head">
    <h1>Expedición de licencias (PDF)</h1>
  </header>
  
  <form id="form1" name="form1" method="post" action="functions/lib/pdf/pdfLicencia.php" enctype="multipart/form-data">
    
    <div class="from__group">
      <input name="idLicencia" type="number" id="Licencia" maxlength="1" minlength="3" class="form__input" placeholder="ID Licencia"/>
      <label class="form__label" for="idLicencia">ID Licencia</label>
    </div>    
    
    <input type="submit" name="Submit" value="Generar" class="sub2 btnAnimation"/>
  </form>
</div>