<div class="form">

  <header class="head">
    <h1>Tarjeta de circulación</h1>
  </header>

  <form id="form1" name="form1" method="post" action="functions/lib/pdf/pdfConductores.php" enctype="multipart/form-data">
    
    <div class="form__group">
      <input name="idVehiculo" type="number" id="idVehiculo" class="form__input" placeholder="ID Vehiculo"/>
      <label class="form__label" for="idVehiculo">ID Vehiculo</label>
    </div>
    
    <input type="submit" name="Submit" value="Generar" class="sub2 btnAnimation"/>
  </form>
</div>