<div class="form">

<header class="head">
    <h1>Alta de vehículos</h1>
</header>

<form id="form1" name="form1" method="post" action="#">

    <div class="form__group">
        <input placeholder="Propietario" type="text" name="propietario" class="form__input" required>
        <label for="propietario" class="form__label">Propietario</label>
    </div>

    <div class="form__group">
        <input placeholder="Placa" type="text" name="placa" class="form__input" required>
        <label for="placa" class="form__label">Placa</label>
    </div>

    <div class="form__group">
        <select name="tipo" id="" class="form__input">
            <option value="Automovil">Automovil</option>
            <option value="Vehiculo Ligero">Vehículo Ligero</option>
            <option value="Comercial">Comercial</option>
            <option value="Turismo">Turismo</option>
            <option value="Vehículo Especia/Agricola">Vehículo Especial/Agrícola</option>
        </select>
        <label for="tipo" class="form__label">Tipo</label>
    </div>

    <div class="form__group">
        <select name="uso" id="" class="form__input">
            <option value="Particular">Particular</option>
            <option value="Privado">Privado</option>
        </select>
        <label for="uso" class="form__label">Uso</label>
    </div>

    <div class="form__group">
        <input placeholder="Año" type="number" name="anio" class="form__input" required>
        <label for="anio" class="form__label">Año</label>
    </div>

    <div class="form__group">
        <input placeholder="Color" type="text" name="color" class="form__input" required>
        <label for="color" class="form__label">Color</label>
    </div>

    <div class="form__group">
        <input placeholder="Puertas" type="number" name="numPuertas" class="form__input">
        <label for="numPuertas" class="form__label">Puertas</label>
    </div>

    <div class="form__group">
        <input placeholder="Modelo" type="text" name="modelo" class="form__input">
        <label for="modelo" class="form__label">Modelo</label>
    </div>

    <div class="form__group">
        <input placeholder="Marca" type="text" name="marca" class="form__input">
        <label for="marca" class="form__label">Marca</label>
    </div>

    <div class="form__group">
        <select name="transmision" id="" class="form__input">
            <option value="Automatica">Automática</option>
            <option value="Estandar">Estandar</option>
        </select>
        <label for="transmision" class="form__label">Transmisión</label>
    </div>

    <div class="form__group">
        <input placeholder="Capacidad de carga" type="number" name="capCarga" class="form__input">
        <label for="capCarga" class="form__label">Capacidad de carga</label>
    </div>

    <div class="form__group">
        <input placeholder="Serie" type="text" name="serie" class="form__input">
        <label for="serie" class="form__label">Serie</label>
    </div>

    <div class="form__group">
        <input placeholder="Número de Motor" type="text" name="numMotor" class="form__input">
        <label for="numMotor" class="form__label">Número de Motor</label>
    </div>

    <div class="form__group">
        <input placeholder="Linea" type="text" name="linea" class="form__input">
        <label for="linea" class="form__label">Linea</label>
    </div>

    <div class="form__group">
        <input placeholder="Sublinea" type="text" name="sublinea" class="form__input">
        <label for="sublinea" class="form__label">Sublinea</label>
    </div>

    <div class="form__group">
        <input placeholder="Cilindraje" type="number" name="cilindraje" class="form__input">
        <label for="cilindraje" class="form__label">Cilindraje</label>
    </div>

    <div class="form__group">
        <select name="combustible" id="" class="form__input">
            <option value="Gasolina">Gasolina</option>
            <option value="Gas">Gas</option>
            <option value="Electrico">Eléctrico</option>
        </select>
        <label for="combustible" class="form__label">Combustible</label>
    </div>

    <div class="form__group">
        <input placeholder="Origen" type="text" name="origen" class="form__input">
        <label for="origen" class="form__label">Origen</label>
    </div>

    <input type="submit" value="Registrar" name="Submit" class="sub2 btnAnimation"/>
</form>
</div>