<div class="form">

<header class="head">
  <h1>Expedición de verificaciones</h1>
</header>

<form id="form1" name="form1" method="post" action="#">

  <div class="form__group">
    <input name="vehiculo" type="text" id="vehiculo" class="form__input" placeholder="Vehículo" required/>
    <label class="form__label" for="vehiculo">Vehículo</label>
  </div>

  <div class="form__group">
    <select name="periodo" id="periodo" class="form__input">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <label class="form__label" for="periodo">Periodo</label>
  </div>

  <div class="form__group">
    <select name="dictamen" id="dictamen" class="form__input">
      <option value="1">Aprobado</option>
      <option value="0">Reprobado</option>
    </select>
    <label class="form__label" for="dictamen">Dictamen</label>
  </div>

  <input type="submit" name="Submit" value="Registrar" class="sub2 btnAnimation"/>
</form>
</div>