<div class="navBar">
    <div class="navBar__logo">
        <h1>Sistema de Control Vehicular</h1>
    </div>
    <div class="navBar__list">
        <button class="navBar__cat" onclick="hide(this)">Conductores</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fconductores">Alta de conductores</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=feconductores">Baja de conductores</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fmconductores">Cambios a conductor</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Propietarios</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fpropietarios">Alta de propietarios</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fepropietarios">Baja de propietarios</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fmpropietario">Cambios a propietario</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Licencias</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=flicencias">Expedición de licencias</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fpdfLicencias">Generar PDF Licencia</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Vehículos</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fvehiculo">Alta de vehículos</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fevehiculo">Baja de vehículos</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fmvehiculo">Cambios a vehículo</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fpdfConductores">Generar PDF T. circulación</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Verificaciones</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fverificacion">Expedición de verificaciones</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fpdfVerificaciones">Generar PDF Verificacion</a>
        </div>
        
        <button class="navBar__cat" onclick="hide(this)">Multas</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fmultas">Expedición de multas</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fpdfMulta">Generar PDF Multa</a>
        </div>

        <button class="navBar__cat" onclick="hide(this)">Reportes</button>
        <div class="navBar__o">
            <a class="navBar__opc" href="index.php?view=menu&aux=fcconductores">Conductores</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fcpropietarios">Propietarios</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fclicencias">Licencias</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fcvehiculo">Vehículos</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fcverificacion">Verificaciones</a>
            <a class="navBar__opc" href="index.php?view=menu&aux=fcmultas">Multas</a>
        </div>
    </div>
    <div class="navBar__logout">
        <a href="index.php?view=close">Cerrar sesión</a>
    </div>
</div>